{% extends 'base.html' %}

{% block content %}
<h1>Contact Us</h1>
<p>Feel free to reach out to us!</p>
<p>Contact Number: 9876543210 | Email: <a href="mailto:info@tecxter.com">info@tecxter.com</a></p>
<p>For any queries or any additional information. Fill the details below. We are here to assist you!</p>

<form action="/submit_contact" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="phonenumber">Phone Number:</label>
    <input type="phonenumber" id="phonenumber" name="phonenumber" required>
    
    <label for="message">Enter Your Query:</label>
    <textarea id="message" name="message" required></textarea>
    
    <input type="submit" value="Submit">
</form>
{% endblock %}
